* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #6a6969;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
}

.iphoneMockup {
  width: min(90vw, calc(90vh * 375 / 812));
  aspect-ratio: 375 / 812;
  border: 13.5px solid #000;
  border-radius: 15% / 7.5%;
  background: #7e7b7b;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iphoneScreen {
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 11% / 5.5%;
    position: relative;
    overflow: hidden;
    display: flex; 
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 110px;
}

.notch {
    width: 31.4%;
    height: 3.7%;
    background: #000;
    border-radius: 18.5px;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.status-bar {
  position: absolute;
  top: -3px;
  left:17px;
  width: 91%;
  height: auto;
  z-index: 1;
  pointer-events: none;
}

.title-app {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 5px; 
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 10px;
}

.title-icon {
    width: 43px; 
    height: 43px;
}

.subtitle-app {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 5px;
}

.text-email {
    font-size: 11px;
    font-weight: 400;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    width: 100%; 
    margin-top: 20px; 
}

.input-field {
    width: 240px;
    height: 35px;
    padding: 16px;
    gap: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 14px;
    font-family: 'Inter', sans-serif;
}

.continue-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
    gap: 8px;

    width: 240px;
    height: 35px;

    background: #000000;
    color: white;
    border: none;
    border-radius: 8px;

    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s ease;

    flex: none;
    align-self: center; 
}

.continue-button:hover {
    background-color: #333333; 
}

.hidden {
    display: none;
}

.text-terms {
    width: auto;
    height: auto;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: #828282;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-top: 10px;
}

.terms-text {
    font-size: 7px; 
    font-weight: 400; 
    color: #828282; 
    text-align: center; 
    margin-top: 15px; 
    line-height: 1.5; 
}

.terms-text a {
    color: #000000; 
    text-decoration: none; 
}

.terms-text a:hover {
    text-decoration: underline; 
}

.divider-container {
    display: flex; 
    align-items: center; 
    justify-content: center; 
    gap: 10px; 
    margin-top: 20px; 
}

.divider,
.divider2 {
    width: 90px; 
    height: 1px; 
    background: #E6E6E6; 
    flex-shrink: 0;
}

.or {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #828282;
    margin: 0;
}

.social-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 20px; 
    width: 100%; 
}

.social-button {
    width: 240px; 
    height: 35px; 
    border: none;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer;
    text-align: center;
    line-height: 35px; 
    transition: background-color 0.3s ease;
}

.apple-button {
    background: #EEEEEE; 
    color: #000000;
}

.apple-button:hover {
    background: #CCCCCC; 
}

.google-button {
    background: #EEEEEE; 
    color: #000000; 
}

.google-button:hover {
    background: #CCCCCC;
}

.button-icon {
    width: 20px; 
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
}

.slogan {
    position: absolute; 
    width: 368px;
    height: 23px; 
    bottom: 50px; 
    padding-left: 25px;

    font-family: 'Inter', sans-serif;
    font-style: normal; 
    font-weight: 600; 
    font-size: 11px; 
    line-height: 150%; 
    display: flex; 
    align-items: center; 
    text-align: center; 
    letter-spacing: -0.01em; 

    color: #000000; 
}

@media (max-width: 480px) {
    .input-field, .social-button {
        width: 90%; /* Ajusta a largura para telas menores */
    }

    .title-icon {
        width: 35px;
        height: 35px;
    }

    .slogan {
        font-size: 10px;
    }
}